In [53]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from tqdm import tqdm

In [54]:
movie_df = pd.read_csv('/Users/yifengren/Bristol/CS/Python Projects/movieRecomProject/IMDB-Dataset/movies.csv')
rating_df = pd.read_csv('/Users/yifengren/Bristol/CS/Python Projects/movieRecomProject/IMDB-Dataset/ratings.csv')

In [55]:
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [56]:
map_genres = {'(no genres listed)' : 0}
count = 1
for genre in movie_df['genres']:
    tmp = genre.split('|')
    genre = tmp
    for i in tmp:
        if i not in map_genres:
            map_genres[i] = count
            count += 1

In [57]:
movie_df['genres']

0        Adventure|Animation|Children|Comedy|Fantasy
1                         Adventure|Children|Fantasy
2                                     Comedy|Romance
3                               Comedy|Drama|Romance
4                                             Comedy
                            ...
10324                      Animation|Children|Comedy
10325                                         Comedy
10326                                         Comedy
10327                                          Drama
10328                             (no genres listed)
Name: genres, Length: 10329, dtype: object

In [58]:
movie_df['genres'] = movie_df['genres'].apply(lambda x : [map_genres[i] for i in x.split('|')])

In [59]:
movie_df

       movieId                                title           genres
0            1                     Toy Story (1995)  [1, 2, 3, 4, 5]
1            2                       Jumanji (1995)        [1, 3, 5]
2            3              Grumpier Old Men (1995)           [4, 6]
3            4             Waiting to Exhale (1995)        [4, 7, 6]
4            5   Father of the Bride Part II (1995)              [4]
...        ...                                  ...              ...
10324   146684        Cosmic Scrat-tastrophe (2015)        [2, 3, 4]
10325   146878           Le Grand Restaurant (1966)              [4]
10326   148238       A Very Murray Christmas (2015)              [4]
10327   148626                 The Big Short (2015)              [7]
10328   149532  Marco Polo: One Hundred Eyes (2015)              [0]

[10329 rows x 3 columns]

use one-hot to put